.card{border-radius:0px;}
.card h5 .title,h5 .title{color: #0078C0;}
.corporate-count{font-size: 14px;padding-top: 4px;}
.corporate .date-text{font-size: 12px;height: 20px;display: block;}
.corp-view-more{text-align: center;background: #CDD4DB;padding: 10px 0 10px 0;}
.bookmark-sec .card-title.subtitle{color: #0078C0;background: rgb(237, 241, 242);padding: 10px 4px 10px 11px;font-size: 20px;}
.business-insights{padding:8px 0 8px 0;}
.notify-comp .alert.alert-primary{border-radius: 0;margin-bottom: 0;background-color: #0078c0;border-color: #0078c0;color: #fff;padding: 5px 10px 5px 25px;}
.myaccount-text .nav-link{padding:0;color: inherit;}
