.loginform-c {
	margin-top: 70px;
	background: #000000a3;
	color: #fff;
	margin-left: 50px;
}

.loginform-c input, .loginform-c input:focus, .loginform-c input:active {
	background: #808080;
	color: #fff;
	border: 0;
}

.loginform-c .panel-title {
	font-size: 20px;
	padding-top: 20px;
}

.loginform-c .input-group label {
	width: 100%;
}

.loginform-c #btn-login {
	border-radius: 0;
	min-width: 147px;
}
.loginform-c .input-group{
	display: block;
}
.loginform-c .input-group input{    width: 100%;}
.login-view{
	background: url("../../images/Toyota_login.jpg");
	min-height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
}