.sub-navbar  .navbar li{
	background: #CDD4DB;
    margin-left: 10px;
    min-width: 100px;
    text-align: center;
}

.sub-navbar  .navbar{
    padding-left: 0;
}

.part-avail-back-search{
	position: absolute;
    right: 78px;
    margin-top: -65px;
}